


#banner {
    background-color: black;
}

h1 {
    color: white;
    
}

#nav_bar {
    background-color: lightblue;
    border: 3px solid;
}

#Main_Content {
    width: 960px;
    border: 3px solid;
    padding: 10px;
    margin: auto;
}


img {
    margin: auto;
    
}
